global:
  scrape_interval: 30s
  scrape_timeout: 10s

scrape_configs:
  - job_name: services
    metrics_path: /metrics
    static_configs:
      - targets:
          - "prometheus:9090"
          - "otel-collector:8889"
          - "swfs-master:9324"
          - "swfs-volume:9325"
          - "swfs-filer:9326"
          - "swfs-s3:9327"
